!!! XHTML 5

%head= render 'layouts/header'

.layout
  .application
    .left-column
      .content= render 'layouts/menu'

    .main-column
      .content
        .container
          .title
            %h3 О дааа -) Добавь ещё одину запись
            = link_to 'you are now adding new post', 'javascript:void(0)'
          .info
            .post
              = form_for :post, :url => {:action => :create}, :html => { :multipart => true } do |f|
                .text-field
                  = f.text_field :title, :placeholder => 'О чём пишем?'
                .text-field
                  = f.text_area :text, :placeholder => 'Писать сюда'
                .text-field
                  = f.file_field :picture
                %p
                  = f.select :category, :rails => :rails, :html => :'html', :javascript => :javascript, :design => :design, :typography => :typography
                  = f.submit :'Готово'

  .footer
    .slogan justahint
    .copyright &copy; Hichdima 2012
    .strange-beast
    .silhouette-excavator