.logo
  %a{:href => '/'}= image_tag 'logo.png'


%ul.nav
  %li= link_to 'rails', '/category/rails'
  %li= link_to 'html & css', '/category/html'
  %li= link_to 'javascript', '/category/javascript'
  %li= link_to 'design', '/category/design'
  %li= link_to 'typography', '/category/typography'
  %li= link_to 'добвить пост', '/post/new'